/* Global styles */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    margin: 0;
}

.header, .about, .footer {
    background-color: #1f2937;
}

button {
    background-color: #3882F6;
}

/* Header styles */

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-title {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.header-link {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    }

/* About style */

.about, .signup {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-head {
    color: #E5E7EB;
    font-size: 48px;
    font-weight: 900;
}

.about-info {
    color: #F9FAF8;
    font-size: 18px;
}

.about-button {
    border: 0;
    border-radius: 4px;
}

/* Info style */

.info-header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-content {
    margin: 0px 24px;
}

.info-img {
    border: 2px solid #3882F6;
}

/* Quote style */

.quote {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5e7e5
}

/* Signup style */

.signup-section {
    display: flex;
    justify-content: center;
}

.signup {
    background-color: #3882F6;
    justify-content: space-around;
}

.signup-button {
    border: 2px solid white;
    border-radius: 4px;
}

/* Footer */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
}